<div class="d-flex align-items-center justify-content-between gap-3 mb-3">
    <h2 class="mb-0 text-uppercase fs-25 poppins-font text-dark">Contact</h2>
    <div class="line"></div>
</div>
<h2 class="fs-20 poppins-font text-orange my-3">let's talk</h2>
<div>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm($event)">
        <div class="row mb-2">
            <input type="text" placeholder="Your Name" formControlName="name" name="name">
            <span *ngIf="(controls['name'].errors && controls['name'].touched) || (isSubmitted && controls['name'].errors)" class="invalid text-danger ri-error-warning-line fs-24"></span>
        </div>
        <div class="row mb-2">
            <input type="email" placeholder="Your E-mail" formControlName="email" name="mail">
            <span *ngIf="(controls['email'].errors && controls['email'].touched) || (isSubmitted && controls['email'].errors)" class="invalid text-danger ri-error-warning-line fs-24"></span>
        </div>
        <div class="row mb-4">
            <textarea name="" cols="30" rows="4" placeholder="How Can I Help You?" formControlName="message" name="message"></textarea>
            <span *ngIf="(controls['message'].errors && controls['message'].touched) || (isSubmitted && controls['message'].errors)" class="invalid text-danger ri-error-warning-line fs-24"></span>
        </div>
        <div class="d-flex justify-content-end align-items-center mb-2">
            <input type="submit" class="btn btn-danger" value="SEND" >
        </div>
    </form>
</div>
