form {

    .row {
        position: relative;

        span {
            width: fit-content;
        }

        .invalid {
            position: absolute;
            top: 50%;
            right: 1px;
            transform: translateY(-50%);
        }
    }

    input[type='text'],
    input[type='email'],
    textarea {
        position: relative;
        background-color: transparent;
        padding: 8px 12px;
        border: none;
        border-bottom: 1px solid #e66d9f;
        color: var(--gray-100);
        transition: .3s;

        &:focus {
            outline: none;
            border-bottom-color: #eb0867;
        }

        &::placeholder {
            color: #838383;
        }

        &.ng-touched.ng-invalid {
            border-bottom-color: rgb(209, 24, 24);
        }
       
    }

    textarea {
        resize: none;
    }
}