.skill-card {
    position: relative;
    width: 6.875rem;
    height: 6.875rem;
    background-color: var(--light-color-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: var(--shadow) 0px 7px 29px 0px;

    img {
        width: 4.5rem;
    }

    .logo-name {
        border-radius: 50%;
        position: absolute;
        top: 101%;
        transition: .5s;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
    }

    &:hover .logo-name {
        transform: translateY(-102%);
    }
}