<div class="d-flex align-items-center gap-3 mb-3">
    <h2 class="mb-0 text-uppercase fs-25 poppins-font text-dark">Resume</h2>
    <div class="line"></div>
</div>
<div class="timeline-container">
    <div class="wrapper">
        <ul class="sessions">
            <li class="li-card" *ngFor="let item of timeline">
                <div class="time text-dark">{{item.time}}</div>
                <h4 class="fs-18 text-sky mb-1 fw-bold">{{item.name}}</h4>
                <h6 class="fs-14 text-red">{{item.title}}</h6>
                <div class="fs-14 text-dark details" [innerHTML]="item.details"></div>
            </li>
        </ul>
    </div>
</div>