.content-container {

    .content {
        overflow: auto;
        @media (max-width: 992px) {
            height: 100%;
        }
        @media (min-width: 992px) {
            height: 636.02px;
        }
        @media (min-width: 1201px) {
            height: 690.42px;
        }
    }

    // Start Scrollbar
    .content::-webkit-scrollbar {
        width: 5px;
    }

    .content::-webkit-scrollbar-track {
        background-color: var(--dark-color);
        border-top-right-radius: 9px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content::-webkit-scrollbar-thumb {
        background-color: var(--orange);
        border-radius: 20px;
    }

    // End Scrollbar
    @media (max-width: 992px) {
        margin-bottom: 100px;
    }

    @media (max-width: 768px) {
        margin-bottom: 80px;
    }
}