aside {
    background-color: #FFF;
    border-radius: 20px;
    position: relative;
    padding-top: 140px;
    padding-bottom: 25px;
    @media (max-width: 992px) {
        margin-top: 130px;
    }
    .image {
        border-radius: 20px;
        position: absolute;
        top: -129px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
    }

    .name {
        color: #0B0909;
    }

    .title {
        font-weight: 500;
        color: #0b09097a;
    }

    .social {

        .links {

            .link-item {

                .link {
                    background-color: var(--light-color-2);
                    border-radius: 8px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s;
                    overflow: hidden;

                    &:hover {
                        background-color: var(--orange);
                    }

                    &:hover i {
                        animation-name: fadeInDown;
                        animation-duration: .6s;
                    }

                    // i {}
                }
            }
        }
    }

    .contact {
        background-color: var(--light-color);
        width: 80%;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        // display: flex;
        // justify-content: center;

        ul {
            padding-left: 0;

            li {
                padding-top: 10px;
                padding-bottom: 10px;
                transition: .3s;

                &:not(:last-child) {
                    border-bottom: 1px solid #E3E3E3;
                }

                .icon {
                    color: var(--orange);
                }

                .text>h4:first-child {
                    color: var(--orange);
                }

                &:last-child {
                    .down-btn {
                        padding: 10px 20px;
                        border-radius: 40px;
                        border: none;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background-color: var(--orange);
                        color: #FFF;
                        transition: .3s;

                        &:hover {
                            background-color: var(--lemon);
                        }

                        &:hover i {
                            animation: shakeY;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                        }

                        // i {
                        //     &:hover {
                        //     }

                        // }
                    }
                }

                .icon {
                    i {
                        transition: .3s;
                    }
                }

                &:hover {
                    cursor: cell;
                }

                // &:hover .icon>i {
                //     color: #0077b5;
                // }

                .text {
                    transition: .3s;
                }

                &:hover .text {
                    transform: translatex(10px);
                }
            }
        }
    }
}

.linkedin-color {
    color: #0077b5;
}

.github-color {
    color: #0B0909;
}


// 
.button-down {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--orange);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-down:hover,
.button-down:focus-visible{
  --_p: 0px;
}

.button-down:active {
  background: var(--color);
  color: #fff;
}