<aside class="d-flex flex-column justify-content-center align-items-center">
    <h3 class="railway-font fs-29 fw-bold name">Ahmed Elayek</h3>
    <h6 class="railway-font fs-16 title">FrontEnd Developer</h6>
    <div class="social">
        <ul class=" links py-3 px-4 d-flex align-items-center gap-3">
            <li class="link-item">
              <a href="https://github.com/ahmedelayk" target="_blank" class="link">
                <i class="ri-github-fill fs-28 github-color"></i>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/in/ahmed-elayek/" target="_blank" class="link">
                <i class="ri-linkedin-fill fs-28 linkedin-color"></i>
              </a>
            </li>
        </ul>
    </div>
    <div class="contact pt-4">
        <ul>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-smartphone-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Phone</h4>
                    <h4 class="mb-0 fs-14 fw-semibold">01210898966</h4>
                </div>
            </li>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-mail-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Email</h4>
                    <h4 class="mb-0 fs-14 fw-semibold">ahmedelayek7@gmail.com</h4>
                </div>
            </li>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-map-pin-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Location</h4>
                    <h4 class="mb-0 fs-14 fw-semibold">Cairo, Egypt</h4>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-center">
                <button class="down-btn">
                    <i class="ri-download-2-line fs-16"></i>
                    <span class="fs-12 fw-semibold">Download Resume</span>
                </button>
            </li>
        </ul>
    </div>
</aside>