<aside class="d-flex flex-column justify-content-center align-items-center bg-white">
    <img class="image" src="assets/Personal_.jpg" alt="profile">
    <h3 class="railway-font fs-29 fw-bold name text-dark">Ahmed Elayek</h3>
    <h6 class="railway-font fs-16 title text-dark">FrontEnd Developer</h6>
    <div class="social">
        <ul class=" links py-3 px-4 d-flex align-items-center gap-3">
            <li class="link-item">
              <a href="https://github.com/ahmedelayk" target="_blank" class="link">
                <i class="ri-github-fill fs-28 github-color"></i>
              </a>
            </li>
            <li class="link-item">
              <a href="https://www.linkedin.com/in/ahmed-elayek/" target="_blank" class="link">
                <i class="ri-linkedin-fill fs-28 linkedin-color"></i>
              </a>
            </li>
        </ul>
    </div>
    <div class="contact pt-4">
        <ul>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-smartphone-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Phone</h4>
                    <a href="https://wa.me/+201210898966" target="_blank" class="fs-14 fw-semibold text-dark">01210898966</a>
                </div>
            </li>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-mail-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Email</h4>
                    <a href="mailto:ahmedelayek7@gmail.com" target="_blank" class="fs-14 fw-semibold text-dark">ahmedelayek7@gmail.com</a>
                </div>
            </li>
            <li class="d-flex align-items-center gap-2">
                <div class="icon">
                    <i class="ri-map-pin-line fs-30"></i>
                </div>
                <div class="text">
                    <h4 class="mb-0 fs-14 fw-semibold">Location</h4>
                    <h4 class="mb-0 fs-14 fw-semibold text-dark">Cairo, Egypt</h4>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-center">
                <a  target="_blank" class="button-down" href="https://drive.google.com/uc?export=download&id=1s4jejwDbPY6P54DgdEEZE7UYQYo-dQ9b" download="ahmed_elayek_frontend_resume.pdf">
                    <h4 class="fs-12 fw-semibold mb-0">Download Resume</h4>
                </a>
            </li>
        </ul>
    </div>
</aside>