// Start Tabs
.tabs {
    @media (max-width: 992px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .nav {
        background-color: #F2F7FC;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;
        border-radius: .625rem;
        transition: .3s;
        
        @media (max-width: 992px) {
            width: 100%;
            border-radius: 0;
        }

        .nav-item {
            cursor: pointer;
        }

        .nav-link {
            background-color: var(--light-color-2);
            color: #222;
            text-transform: uppercase;
            border-radius: .625rem;
            font-size: .625rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 4.375rem;
            height: 3.75rem;

            &:focus-visible {
                box-shadow: none;
            }
        }

        .nav-link.active {
            background-color: var(--orange);

            i,
            span {
                color: #FFF;
                font-weight: 500;
            }

            span {
                font-weight: 600;
            }
        }
    }
    // End Tabs
}