<div class="d-flex justify-content-end align-items-center">
  <ul class="nav py-3 px-4 d-flex justify-content-end align-items-center gap-3">
    <li class="nav-item">
      <a [routerLink]="['/home']" class="nav-link" (click)="setActiveTab('home')"
        [ngClass]="{ active: activeTab == 'home' }">
        <i class="ri-home-2-line fs-25 text-dark-1"></i>
        <span>home</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home/about']" class="nav-link" (click)="setActiveTab('about')"
        [ngClass]="{ active: activeTab == 'about' }">
        <i class="ri-user-line fs-25 text-dark-1"></i>
        <span>about</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home/skills']" class="nav-link" (click)="setActiveTab('skills')"
        [ngClass]="{ active: activeTab == 'skills' }">
        <i class="ri-flashlight-line fs-25 text-dark-1"></i>
        <span>skills</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home/contact']" class="nav-link" (click)="setActiveTab('contact')"
        [ngClass]="{ active: activeTab == 'contact' }">
        <i class="ri-contacts-book-line fs-25 text-dark-1"></i>
        <span>contact</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/home/projects']" class="nav-link" (click)="setActiveTab('projects')"
        [ngClass]="{ active: activeTab == 'projects' }">
        <i class="ri-apps-fill fs-25 text-dark-1"></i>
        <span>projects</span>
      </a>
    </li>
  </ul>
</div>