.mode-icon-container {
    border: 1px solid var(--orange);
    border-radius: 50%;
    background-color: var(--orange);

    .mode-icon {
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}